body {
    margin: 0;
    background: #1a1a1a;
    color: white;
    font-family: 'Inter', sans-serif;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.top-nav a {
    color: white;
    margin-left: 2rem;
    text-decoration: none;
}

.layout {
    display: flex;
    padding: 3rem 2rem;
    gap: 3rem;
}

.intro {
    flex: 1;
    max-width: 40%;
}

.name {
    font-size: 12rem;
    font-weight: 300; /* explicitly heavy */
    line-height: 1;
    margin: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: -24px;
}

.tagline {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    font-weight: lighter;
    color: #ccc;
    letter-spacing: -1px;
}

.about {
    margin-top: 5rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ddd;
}



.project-card .meta,
.project-card .meta-sub {
    font-family: 'IBM Plex Mono', monospace;
}


.projects {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    background: #111;
    color: white;
    border-radius: 12px;
    padding: 1.5rem 1.5rem;
    border: 1px solid #222;
    transition: background 0.2s ease, transform 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-card:hover {
    background: #1a1a1a;
    transform: translateY(-2px);
}

.project-label {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.95rem;
    font-weight: 600;
}

.project-date {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    color: #bbb;
}

.contact-link {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin-top: 2rem;
    color: white;
    font-size: 0.9rem;
    text-decoration: underline;
    transition: color 0.25s ease, letter-spacing 0.25s ease;
    letter-spacing: 0px;
}

.contact-link:hover{
    color: #B2A4FF;
    letter-spacing: 4px;
}


.inline-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 0.9rem;
    transition: color 0.25s ease, letter-spacing 0.25s ease;
    letter-spacing: 0px;
    position: relative;
}

.inline-link:hover {
    color: #B2A4FF;
    letter-spacing: 4px;
}



.footer {
    text-align: left;
    padding: 2rem;
    padding-left: 0;
    font-size: 0.8rem;
    color: #888;
}


@media screen and (max-width: 768px) {
    .layout {
      flex-direction: column;
      padding: 2rem 1rem;
    }
  
    .intro {
      max-width: 100%;
    }
  
    .name {
      font-size: 8rem;
      letter-spacing: -5px;
    }
  
    .tagline {
      font-size: 1rem;
    }
  
    .about {
      font-size: 0.8rem;
      margin-top: 3rem;
    }
  
    .contact-link {
      font-size: 0.85rem;
    }
  
    .projects {
      margin-top: 2rem;
    }
  
    .project-card {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .project-text {
      max-width: 100%;
    }
  
    .project-preview {
      width: 100%;
      height: 150px;
    }
  }
  